{% load static %}


<div class="card">
  {% if car.image %}
    <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.title }}">
  {% else %}
    <img src="{% static 'img/no-image.png' %}" class="card-img-top" alt="{{ car.title }}">
  {% endif %}
 <div class="card-body">
   <h5 class="card-title">{{ car.title }}</h5>
   <p class="card-text">Color: {{ car.color.title }}</p>
   <p class="card-text">Price: {{ car.price }} BYN</p>
   <p class="card-text">Price: {{ car.price_usd }} USD</p>
   <p class="card-text">Category: {{ car.category }}</p>
   <p class="card-text">Purchase: {% for purchase in car.purchases.all %} {{ purchase }} {% endfor %}</p>
 </div>
</div>
